/* CARGA MANIFIESTO */
/* abstracts */
/* vendors */
/* base */
body {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.texto-vertical-2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 50px;
}

h1 {
  font-size: 30px;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  text-align: left;
  color: #0c0910;
}

p {
  font-size: 18px;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  text-align: left;
  color: #646266;
  line-height: 1.5rem;
}

/* layout */
.navigation {
  position: relative;
  border: 1px solid black;
}

.navigation__logo {
  position: absolute;
  top: 0.9em;
  left: 1.5em;
  font-family: "Old Standard TT", serif;
  font-size: 18px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .navigation__logo {
    top: 1em;
    left: 1.5em;
  }
}

.collapsible {
  text-align: right;
}
.collapsible label {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1.5em;
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .collapsible label {
    display: none;
  }
}

#menu {
  display: none;
}

input:checked ~ .navigation__container {
  max-height: 100%;
}

.navigation__container {
  max-height: 0;
  padding: 0;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .navigation__container {
    max-height: 100%;
    padding: 0.5em 1.5em 0.5em 0;
    overflow: visible;
  }
}

.navigation__item {
  list-style: none;
}
.navigation__item a {
  display: block;
  text-align: left;
  padding: 0.5em;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #0c0910;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .navigation__item a {
    padding: 0.5em 1em;
  }
}
.navigation__item a:hover {
  color: #a6a5a8;
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    justify-content: flex-end;
    margin: inherit;
    padding: inherit;
  }
}
.main {
  display: grid;
  grid-template-columns: repeat(1fr);
  justify-content: center;
  width: 100%;
}
.main__item {
  border: 1px solid black;
  width: 100%;
  height: auto;
}
.main__item__imagen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}
.main__item__margen {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* components */
.btn__primary {
  border: 2px solid #0c0910;
  background-color: #fff;
  padding: 0.63rem 0.94rem;
  font-weight: 700;
  color: #0c0910;
}
.btn--normal {
  padding: 1rem 2rem;
  font-size: 14px;
}
.btn--smal {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.btn:hover {
  border: 1px solid #646266;
}
.btn:focus {
  border: 1px solid #a6a5a8;
}

.input-tex {
  font-size: 12px;
  color: #0c0910;
  padding: 0.5rem;
}

/* pages */
/* themes */

/*# sourceMappingURL=main.css.map */
