.contacto{
    display: inline-block
}
.item_form{
    background-color: $smoky-black;
    width: 78%;
}

.text_vertical{
    writing-mode: vertical-lr;
    transform: rotate(360Deg);
    font-family: $font-relawey;
    font-weight: $font-bold;
    font-size:$font-small;
    color: $smoky-black;
    width: 19%;
    float: leaf;
}