header{
    width: 100%;
    background-position: top;
    height: 34vh;
    overflow: hidden;
    background-image: url(../images/imagen1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    
    
    @include point_df-break($break_tablet){
        height: 40vh;
        background-position: 0 -8rem;
     
    }

    @include point_df-break($break_desktop){
        grid-area: area-1;
        height: 78vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

}

.size_imagen{
    width: 5.94rem;
}